<ion-header>
  <ion-navbar dark>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{global.message.shopping}}</ion-title>
    <ion-buttons end>
      <button (click)="changeView('list')" *ngIf="viewType == 'box'">
        <ion-icon name="md-reorder"></ion-icon>
      </button>
      <button (click)="changeView('box')" *ngIf="viewType == 'list'">
        <ion-icon name="md-apps"></ion-icon>
      </button>
      <button royal class="notification-button" *ngIf="global.cart.qty > 0" (click)="showCart()">
        <ion-icon name="md-cart">
          <ion-badge class="notifications-badge" color="danger">{{global.cart.qty}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding class="shopping">
  <div *ngIf="viewType == 'box'">
    <ion-card class="category-card" *ngFor="let item of global.data">
      <ion-card-header>
        <ion-icon name="ios-cube" class="relative top-2"></ion-icon>
        <b>{{item.name}}</b>
      </ion-card-header>
      <hr />
      <ion-grid>
        <ion-row wrap>

          <ion-col width-50 *ngFor="let product of item.products">
            <ion-card class="product">
              <img src="https://img.remaxthailand.co.th/300x300/product/{{product.sku}}/1.jpg" (click)="viewDetail(product.sku, product.name)" />
              <ion-item class="price" text-right>
                <span danger *ngIf="product.price != product.memberPrice"><strike>({{global.numberWithCommas(product.price)}})</strike> </span>
                <b primary>{{global.numberWithCommas(product.memberPrice)}}</b> {{global.message.baht}}
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr />
      <ion-row class="view-all">
        <ion-col text-center (click)="navigate(new)">
          <button clear small>
            <div class="capitalize">ดูสินค้าทั้งหมดในหมวดหมู่ <b>{{item.name}}</b></div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <div *ngIf="viewType == 'list'">
    <div class="padding-5"></div>
    <ion-item-group *ngFor="let item of global.data">
      <ion-item-divider light>
        <ion-icon name="ios-cube" class="relative top-2"></ion-icon> <b>{{item.name}}</b>
        <button item-right clear small>
          <div class="capitalize">เพิ่มเติม</div>
        </button>
      </ion-item-divider>
      <ion-item *ngFor="let product of item.products">
        <ion-thumbnail item-left (click)="viewDetail(product.sku, product.name)">
          <img src="https://img.remaxthailand.co.th/100x100/product/{{product.sku}}/1.jpg">
        </ion-thumbnail>
        <h2 (click)="viewDetail(product.sku, product.name)">{{product.name}}</h2>
        <p *ngIf="product.price != product.memberPrice">
          ราคาปลีก : <span danger><strike>({{global.numberWithCommas(product.price)}})</strike> </span> {{global.message.baht}}
        </p>
        <p>
          ราคาส่ง : <b primary>{{global.numberWithCommas(product.memberPrice)}}</b> {{global.message.baht}}
        </p>
      </ion-item>
    </ion-item-group>
  </div>

  <div class="padding-5"></div>
  
</ion-content>