<ion-header>
  <ion-toolbar dark>
    <ion-title>{{global.message.address}}ในการจัดส่งสินค้า</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
          <span color="primary" showWhen="ios">Cancel</span>
          <!--ion-icon name="md-close" showWhen="android,windows"></ion-icon-->
          <ion-icon name="md-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div *ngIf="step == 0">
    <h3>{{global.message.receiver}}</h3>
    <ion-list>
      <ion-item>
        <ion-label floating danger><i class="fa fa-user-circle-o"></i> {{global.message.firstname}} - {{global.message.lastname}}</ion-label>
        <ion-input type="text" autofocus [(ngModel)]="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating danger><i class="fa fa-phone-square"></i> {{global.message.mobilePhoneNumber}}</ion-label>
        <ion-input type="text" [(ngModel)]="mobile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><i class="fa fa-home"></i> {{global.message.shopName}}</ion-label>
        <ion-input type="text" [(ngModel)]="shopName"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 1 && global.isLoaded && provinceList.length > 0">
    <ion-list>
      <ion-item>
        <ion-label danger>{{global.message.province}}</ion-label>
        <ion-select [(ngModel)]="province" (ionChange)="setSelectedName('province'); next()" autofocus>
          <ion-option *ngFor="let p of provinceList" value="{{p.id}}">{{p.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 2 && global.isLoaded && districtList.length > 0">
    <ion-list>
      <ion-item>
        <ion-label danger *ngIf="province == '1'">{{global.message.area}}</ion-label>
        <ion-label danger *ngIf="province != '1'">{{global.message.district}}</ion-label>
        <ion-select [(ngModel)]="district" (ionChange)="setSelectedName('district'); next()" autofocus>
          <ion-option *ngFor="let d of districtList" value="{{d.id}}">{{d.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item (click)="step = 1">
        <ion-label *ngIf="province == '1'"><b>{{name.province}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.province}}<b>{{name.province}}</b></ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 3 && global.isLoaded && subDistrictList.length > 0">
    <ion-list>
      <ion-item>
        <ion-label danger *ngIf="province == '1'">{{global.message.subArea}}</ion-label>
        <ion-label danger *ngIf="province != '1'">{{global.message.subdistrict}}</ion-label>
        <ion-select [(ngModel)]="subDistrict" (ionChange)="setSelectedName('subDistrict'); next()" autofocus>
          <ion-option *ngFor="let s of subDistrictList" value="{{s.id}}">{{s.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item (click)="step = 2">
        <ion-label *ngIf="province == '1'">{{global.message.area}}<b>{{name.district}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.district}}<b>{{name.district}}</b></ion-label>
      </ion-item>
      <ion-item (click)="step = 1">
        <ion-label *ngIf="province == '1'"><b>{{name.province}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.province}}<b>{{name.province}}</b></ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 4 && global.isLoaded">
    <ion-list>
      <ion-item>
        <ion-label fixed danger><i class="fa fa-envelope-o"></i> {{global.message.address}}</ion-label>
        <ion-input type="text" [(ngModel)]="address" autofocus></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed></ion-label>
        <ion-input type="text" [(ngModel)]="address2"></ion-input>
      </ion-item>
      <ion-item (click)="step = 3">
        <ion-label *ngIf="province == '1'">{{global.message.subArea}}<b>{{name.subDistrict}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.subdistrict}}<b>{{name.subDistrict}}</b></ion-label>
      </ion-item>
      <ion-item (click)="step = 2">
        <ion-label *ngIf="province == '1'">{{global.message.area}}<b>{{name.district}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.district}}<b>{{name.district}}</b></ion-label>
      </ion-item>
      <ion-item (click)="step = 1">
        <ion-label *ngIf="province == '1'"><b>{{name.province}}</b></ion-label>
        <ion-label *ngIf="province != '1'">{{global.message.province}}<b>{{name.province}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label fixed>{{global.message.zipcode}}</ion-label>
        <ion-input type="text" required value="{{zipcode}}"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 5 && global.isLoaded">
    <ion-list>
      <ion-item>
        <ion-label><i class="fa fa-user-circle-o"></i> <b primary (click)="step = 0">{{firstname}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><i class="fa fa-phone-square"></i> <b primary (click)="step = 0">{{mobile}}</b></ion-label>
      </ion-item>
      <ion-item *ngIf="shopName != ''">
        <ion-label><i class="fa fa-home"></i> {{global.message.shopName}} <b (click)="step = 0">{{shopName}}</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><i class="fa fa-envelope-o"></i> <b (click)="step = 4">{{address}}</b><span *ngIf="address2 != ''" (click)="step = 4"><br />{{address2}}</span></ion-label>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <span *ngIf="province == '1'">{{global.message.subArea}}</span><span *ngIf="province != '1'">{{global.message.subdistrictShort}}</span><b class="margin-right-10" (click)="step = 3">{{name.subDistrict}}</b>
          <span *ngIf="province == '1'">{{global.message.area}}</span><span *ngIf="province != '1'">{{global.message.districtShort}}</span><b class="margin-right-10" (click)="step = 2">{{name.district}}</b>
          <span *ngIf="province != '1'">{{global.message.provinceShort}}</span><b class="margin-right-10" (click)="step = 1">{{name.province}}</b>
          <b>{{zipcode}}</b>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="step == 6" text-center>
    <i class="fa fa-refresh fa-spin fa-2x fa-fw" primary></i>
    <br />
    <b>{{global.message.pleaseWait}} ...</b>
  </div>

</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-buttons start>
      <button danger (click)="back()" *ngIf="step > 0 && global.isLoaded">
        <i class="fa fa-angle-left margin-right-5"></i> <div class="capitalize">{{global.message.back}}</div>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button danger (click)="next()" *ngIf="step < 5 && global.isLoaded">
        <div class="capitalize">{{global.message.next}}</div> <i class="fa fa-angle-right margin-left-5"></i>
      </button>
      <button primary (click)="save()" *ngIf="step == 5 && global.isLoaded">
        <div class="capitalize">{{global.message.save}}</div> <i class="fa fa-check-square margin-left-5"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>
