// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

//@import "../pages/page1/page1";
@import "font-awesome";
@import "../pages/login/login";
@import "../pages/shopping/shopping";
@import "../pages/product/product";

.margin-0 { margin: 0 !important }
.margin-top-0 { margin-top: 0px !important }
.margin-top-1 { margin-top: 1px !important }
.margin-top-3 { margin-top: 3px !important }
.margin-top-5 { margin-top: 5px !important }
.margin-top-10 { margin-top: 10px !important }
.margin-top-15 { margin-top: 15px !important }
.margin-bottom-0 { margin-bottom: 0px }
.margin-bottom-1 { margin-bottom: 1px }
.margin-bottom-2 { margin-bottom: 2px }
.margin-bottom-5 { margin-bottom: 5px }
.margin-bottom-10 { margin-bottom: 10px }
.margin-bottom-15 { margin-bottom: 15px }
.margin-left-0 { margin-left: 0px }
.margin-left-1 { margin-left: 1px }
.margin-left-5 { margin-left: 5px !important }
.margin-left-10 { margin-left: 10px !important }
.margin-right-0 { margin-right: 0 }
.margin-right-1 { margin-right: 1px }
.margin-right-2 { margin-right: 2px }
.margin-right-5 { margin-right: 5px }
.margin-right-6 { margin-right: 6px }
.margin-right-10 { margin-right: 10px !important }

.padding-0 { padding: 0px }
.padding-5 { padding: 5px }
.padding-10 { padding: 10px }
.padding-top-0 { padding-top: 0 }
.padding-bottom-0 { padding-bottom: 0 }
.padding-left-0 { padding-left: 0px }
.padding-left-5 { padding-left: 5px }
.padding-left-10 { padding-left: 10px }
.padding-right-5 { padding-right: 5px }
.padding-right-10 { padding-right: 10px }

.width-100 { width: 100% }

.font-12 { font-size: 12px !important }
.font-14 { font-size: 14px !important }
.position-up-1 { position: relative; top: -1px }
.position-up-2 { position: relative; top: -2px }

.no-border-top { border-top: 0px solid transparent !important }
.no-border-bottom { border-bottom: 0px solid transparent !important }
.border-1-white { border: 1px solid white }

.addToCart .item-inner { border-bottom: 0px solid transparent !important }

.nowrap { white-space:nowrap }

.relative { position:relative }
.top-2 { top:2px !important }
.top-1 { top:1px !important }

.color-black { color: black !important }
.color-white { color: white !important }
.color-danger { color: color($colors, danger) !important }
.color-primary { color: color($colors, primary) !important }
.color-secondary { color: color($colors, secondary) !important }
.color-gray { color: #888 !important }
.color-light-gray { color: #aeacb4 !important }

.opacity-100 { opacity: 1 !important }

.bg-dark { background-color: color($colors, dark) !important }
.bg-primary { background-color: color($colors, primary) !important }
.bg-danger { background-color: color($colors, danger) !important }
.bg-secondary { background-color: color($colors, secondary) !important }
.bg-favorite { background-color: color($colors, favorite) !important }
.bg-blue { background-color: #2e6da4 !important }
.bg-light { background-color: color($colors, light) !important }
.bg-light-gray { background-color: #f6f6f6 !important }
.bg-gray { background-color: #888 !important }

.border-gray { border:1px solid #aeacb4 }

.capitalize { text-transform: capitalize }


.note { color: #aeacb4; font-size: 12px; text-align: right }
.note-price { font-size: 14px; text-align: right }

.footer .toolbar-title { font-size: 14px; color: white; padding:5px 0 }


.queue ion-label { margin: 5px 8px 5px 0 }
.badge-queue { width:45px; font-weight: bold }
.blink-red-orange-fast { background-color: color($colors, danger);
    -webkit-animation-name: redOrange; -webkit-animation-duration: 0.5s; -webkit-animation-iteration-count: infinite;
    animation-name: redOrange; animation-duration: 0.5s; animation-iteration-count: infinite;
}
.blink-red-orange { background-color: color($colors, danger);
    -webkit-animation-name: redOrange; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite;
    animation-name: redOrange; animation-duration: 1s; animation-iteration-count: infinite;
}

@-webkit-keyframes redOrange { 0%   {background-color:color($colors, danger)} 33%  {background-color:orange} 100%  {background-color:color($colors, danger)} }
@keyframes redOrange { 0%   {background-color:color($colors, danger)} 33% {background-color:orange} 100% {background-color:color($colors, danger)} }


.progress-bar { border:1px solid color($colors, dark); border-radius: 2px }
.progress-bar > span { background-color: color($colors, primary); border-radius: 1px; display: block; text-indent: -9999px }

.blink-color-black-white {
	animation-name: anim;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	color: black;
}

@keyframes anim { to { color: white } }

.action-sheet-group{ overflow: scroll; max-height: 400px; }

.notification-button { position: relative; width: 42px; top:1px; right: 1px; overflow: visible!important }
.notifications-badge { background-color: color($colors, danger); position: absolute; top: -3px; right: -3px; border-radius: 100% }
