<ion-header>
  <ion-navbar dark>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{global.message.packingStatus}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list class="margin-0 no-border-top">
    <ion-item class="bg-blue no-border-bottom no-border-top">
      <ion-label class="color-white">ประเภทข้อมูล</ion-label>
      <ion-select class="color-white" [(ngModel)]="dataType" (ionChange)="changeDataType($event, dataType)"
        cancelText="{{global.message.cancel}}"
        okText="{{global.message.ok}}">
        <ion-option value="queue">คิวการจัดสินค้า</ion-option>
        <ion-option value="prepare">เตรียมสินค้าแล้ว</ion-option>
        <ion-option value="packing">จัดสินค้าลงกล่อง</ion-option>
        <ion-option value="packed">สินค้าพร้อมจัดส่ง</ion-option>
        <ion-option value="delivery">กำลังจัดส่ง</ion-option>
        <ion-option value="shipped">จัดส่งแล้ว</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list class="margin-0" *ngIf="dataType == 'queue'">
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="blink-red-orange-fast badge-queue" text-center><h1><b>1</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> ดา</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="blink-red-orange-fast badge-queue" text-center><h1><b>2</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> มิ้น</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
        <p class="color-danger"><i><i class="fa fa-quote-left"></i> จัดเสร็จ ยังไม่ต้องส่ง รอลูกค้ายืนยันก่อนค่ะ <i class="fa fa-quote-right"></i></i></p>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="blink-red-orange badge-queue" text-center><h1><b>3</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> มิ้น</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="blink-red-orange badge-queue" text-center><h1><b>4</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> วาว</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
        <i class="color-danger"><i class="fa fa-quote-left"></i> ห้ามส่งใบส่งของลงไปในกล่องเด็ดขาดค่ะ เดี๋ยวลูกค้ามารับเอง <i class="fa fa-quote-right"></i></i>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="badge-queue" primary text-center><h1><b>5</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> ดา</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="badge-queue" primary text-center><h1><b>6</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> ดา</span></h2></td><td class="note color-danger">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="badge-queue" primary text-center><h1><b>7</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นาง</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="badge-queue" dark text-center><h1><b>8</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นัน</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <ion-badge item-left class="badge-queue border-gray" light text-center><h1><b>9</b></h1></ion-badge>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> ดา</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="queueAssign()" class="capitalize">
          <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>





  <ion-list class="margin-0" *ngIf="dataType == 'prepare'">
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <i class="fa fa-3x fa-cog fa-spin" light item-left></i>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-shopping-bag"></i> เหมย</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button secondary (click)="viewDetail()" class="capitalize">
          <ion-icon name="md-list-box"></ion-icon> {{global.message.info}}
        </button>
        <button dark (click)="confirmOrder()" class="capitalize">
          <ion-icon name="print"></ion-icon> พิมพ์
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <i class="fa fa-3x fa-check-circle" secondary item-left></i>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นัน</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <i class="fa fa-3x fa-check-circle" secondary item-left></i>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นาง</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <i class="fa fa-3x fa-times-circle" danger item-left></i>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นัน</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>29</b> รายการ : <b>356</b> ชิ้น</p><span danger> ขาด <b>3</b> รายการ : <b>36</b> ชิ้น</span></td><td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button danger (click)="confirmOrder()" class="capitalize">
          <ion-icon name="quote"></ion-icon> หมายเหตุ
        </button>
        <button dark class="capitalize">
          <ion-icon name="md-list-box"></ion-icon>
          {{global.message.info}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item class="padding-left-10 queue" text-wrap>
        <i class="fa fa-3x fa-times-circle" danger item-left></i>
        <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นัน</span></h2></td><td class="note">24/08/2559 10:32</td></tr></table>
        <table width="100%"><tr><td><p><b>29</b> รายการ : <b>356</b> ชิ้น</p>
          <span danger> ขาด <b>3</b> รายการ : <b>36</b> ชิ้น<br />
            <i class="color-danger"><i class="fa fa-quote-left"></i> ของหายค่ะ <i class="fa fa-quote-right"></i></i>
          </span></td>
          <td class="note-price"><b>436</b> บาท</td></tr></table>
      </ion-item>
      <ion-item-options side="right">
        <button danger (click)="confirmOrder()" class="capitalize">
          <ion-icon name="quote"></ion-icon> หมายเหตุ
        </button>
        <button dark class="capitalize">
          <ion-icon name="md-list-box"></ion-icon>
          {{global.message.info}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-list class="margin-0" *ngIf="dataType == 'packing'">
    <ion-item class="padding-left-10 queue" text-wrap>
      <i class="fa fa-3x fa-cog fa-spin" dark item-left></i>
      <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่จิน</span></h2></td>
        <td class="note"><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td></tr></table>
      <div class="padding-0">
        <div class="progress-bar">
              <span style="width: 80%;">&nbsp;</span>
        </div>
      </div>
    </ion-item>

    <ion-item class="padding-left-10 queue" text-wrap>
      <i class="fa fa-3x fa-cog fa-spin" dark item-left></i>
      <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> เก๋</span></h2></td>
        <td class="note"><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td></tr></table>
      <div class="padding-0">
        <div class="progress-bar">
              <span style="width: 25%;">&nbsp;</span>
        </div>
      </div>
    </ion-item>

    <ion-item class="padding-left-10 queue" text-wrap>
      <i class="fa fa-3x fa-cog fa-spin" light item-left></i>
      <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นาง</span></h2></td>
        <td class="note"><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td></tr></table>
      <div class="padding-0">
        <div class="progress-bar">
              <span style="width: 0%;">&nbsp;</span>
        </div>
      </div>
    </ion-item>

    <ion-item class="padding-left-10 queue" text-wrap>
      <i class="fa fa-3x fa-cog fa-spin" light item-left></i>
      <table width="100%"><tr><td><h2><b>1608B01084</b> <span class="font-12 color-light-gray position-up-1"><i class="fa fa-user"></i> พี่นัน</span></h2></td>
        <td class="note"><p><b>2</b> รายการ : <b>3</b> ชิ้น</p></td></tr></table>
      <div class="padding-0">
        <div class="progress-bar">
              <span style="width: 0%;">&nbsp;</span>
        </div>
      </div>
    </ion-item>
  </ion-list>


  <ion-list class="margin-0" *ngIf="dataType == 'packed'">

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-bus margin-right-5"></i><b>เคอรี่ เอ็กซ์เพรส</b> : <b>50</b> ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>5</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="right">
          <button secondary (click)="shipAssign()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>5</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="right">
          <button secondary (click)="shipAssign()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-plane margin-right-5"></i><b>ไปรษณีย์ด่วนพิเศษ</b> : <b>5</b> ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>5</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="right">
          <button secondary (click)="shipAssign()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-truck margin-right-5"></i><b>ขนส่งเอง</b> : <b>39</b> ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>5</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="right">
          <button secondary (click)="shipAssign()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon> {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

  </ion-list>


  <ion-list class="margin-0" *ngIf="dataType == 'delivery'">

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-truck margin-right-5"></i><b>ยุทธ</b> : <b>5</b>/50 ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>3</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="left">
          <a button href="tel:0876733414" class="bg-favorite" class="capitalize">
            <ion-icon name="call"></ion-icon>
            {{global.message.call}}
          </a>
        </ion-item-options>
        <ion-item-options side="right">
          <button secondary (click)="confirmOrder()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon>
            {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>2</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="left">
          <a button href="tel:0876733414" class="bg-favorite" class="capitalize">
            <ion-icon name="call"></ion-icon>
            {{global.message.call}}
          </a>
        </ion-item-options>
        <ion-item-options side="right">
          <button secondary (click)="confirmOrder()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon>
            {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-truck margin-right-5"></i><b>เอก</b> : <b>8</b>/10 ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>8</b> ลัง</p></td></tr></table>
            <h2><b>ธรรมธร แอมประชา (แท็บเล็ต)</b></h2>
            <b>Remax Shop Bangbuathong</b><br />
            198/92 หมู่บ้าน Modi Villa ชัยพฤกษ์ หมู่ 2 ถ.โยธาธิการ นนทบุรี 2003 ต.พิมลราช อ.บางบัวทอง จ.นนทบุรี 11110
        </ion-item>
        <ion-item-options side="left">
          <a button href="tel:0876733414" class="bg-favorite" class="capitalize">
            <ion-icon name="call"></ion-icon>
            {{global.message.call}}
          </a>
        </ion-item-options>
        <ion-item-options side="right">
          <button secondary (click)="confirmOrder()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon>
            {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light><i class="fa fa-truck margin-right-5"></i><b>อั๋น</b> : <b>12</b>/20 ลัง</ion-item-divider>
      <ion-item-sliding>
        <ion-item text-wrap>
          <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
            <td class="note"><p><b>12</b> ลัง</p></td></tr></table>
            <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
            <b>Remax Shop ชัยภูมิ</b><br />
            140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
        </ion-item>
        <ion-item-options side="left">
          <a button href="tel:0876733414" class="bg-favorite" class="capitalize">
            <ion-icon name="call"></ion-icon>
            {{global.message.call}}
          </a>
        </ion-item-options>
        <ion-item-options side="right">
          <button secondary (click)="confirmOrder()" class="capitalize">
            <ion-icon name="md-checkbox"></ion-icon>
            {{global.message.confirm}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>

  </ion-list>


  <ion-list class="margin-0" *ngIf="dataType == 'shipped'">
    <ion-item class="bg-light">
      <ion-label>วันที่</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="selectDate"
          monthNames="มกราคม, กุมภาพันธ์, มีนาคม, เมษายน, พฤษภาคม, มิถุนายน, กรกฎาคม, สิงหาคม, กันยายน, ตุลาคม, พฤศจิกายน, ธันวาคม"
          cancelText="{{global.message.cancel}}"
          doneText="{{global.message.ok}}">
      </ion-datetime>
    </ion-item>
    <ion-item text-wrap>
      <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
        <td class="note"><p><b>12</b> ลัง</p></td></tr></table>
        <h2><b>อิทธิพล แอมประชา (เอิบ)</b></h2>
        <b>Remax Shop ชัยภูมิ</b><br />
        140/20 หมู่ 9 ต.ในเมือง อ.เมือง จ.ชัยภูมิ 36000
    </ion-item>

    <ion-item text-wrap>
      <table width="100%"><tr><td><h2><b>1608B01084</b></h2></td>
        <td class="note"><p><b>8</b> ลัง</p></td></tr></table>
        <h2><b>ธรรมธร แอมประชา (แท็บเล็ต)</b></h2>
        <b>Remax Shop Bangbuathong</b><br />
        198/92 หมู่บ้าน Modi Villa ชัยพฤกษ์ หมู่ 2 ถ.โยธาธิการ นนทบุรี 2003 ต.พิมลราช อ.บางบัวทอง จ.นนทบุรี 11110
    </ion-item>
    
  </ion-list>


</ion-content>
