<ion-menu *ngIf="global.isShowMenu" [content]="content">

  <ion-toolbar dark>
    <ion-title>Remax Thailand</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{global.member.picture}}">
        </ion-avatar>
        <h2>{{global.member.name}}</h2>
        <p>{{global.member.shopName}}</p>
      </ion-item>
    </ion-list>

    <ion-list>

        <template ngFor let-p [ngForOf]="global.pages">
          <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
            <ion-icon name="{{p.icon}}" class="relative margin-right-6 top-2"></ion-icon> {{p.title}} {{pageIconSelected}}
            <ion-badge item-right>260k</ion-badge>
          </button>
        </template>

      <a menuClose ion-item href="tel:0876733414">
        <ion-icon name="ios-call" class="relative margin-right-6 top-2"></ion-icon> ติดต่อร้านค้า
      </a>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
