<ion-menu *ngIf="global.isShowMenu" [content]="content">

  <ion-toolbar dark>
    <ion-title>Remax Thailand</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list class="margin-bottom-0">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{global.member.picture}}">
        </ion-avatar>
        <h2>{{global.member.name}}</h2>
        <p>{{global.member.shopName}}</p>
      </ion-item>
    </ion-list>

    <ion-item-group>
      <ion-item-divider light>ข้อมูลสมาชิก</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.member">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>การสั่งซื้อ</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.product">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>ข้อมูลการขาย</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.sales">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>การเงิน</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.account">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>คลังสินค้า</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.warehouse">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>ผู้ดูแลระบบ</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.admin">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{p.title}}
        </button>
      </template>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider light>{{global.language[global.langCode].help}}</ion-item-divider>
      <template ngFor let-p [ngForOf]="global.menuGroup.system">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="p.isShow">
          <i class="fa {{p.icon}} margin-right-5"></i> {{global.language[global.langCode][p.title]}}
        </button>
      </template>
    </ion-item-group>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
